body{
    background-color: grey;
    margin: 0px;
    height: 10000px;
}

nav{
    background-color: black;
    padding: 0.5vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
    z-index: 1000;
}

.nav-logo{
    width: 200px;
}

.ul-nav {
    display: flex;
    gap: 20px;
    list-style-type: none;
  }

.navknop{

  }
